.profile {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  margin-top: 10px;
  position: relative;
}
p {
  background-color: rgb(34, 175, 41);
  width: 0.1rem;
  height: 0.1rem;
  border-radius: 50%;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 44px;
}
.tweet-container {
  margin-top: 15px;
}
.counter {
  margin-left: 5px;
}
